*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.booking-details {
    margin: 40px auto;
    width: 95%; 
    max-width: none;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

h1{
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th{
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    background-color: #f4f4f4;
    font-weight: bold;
}
td
{
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}







