*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #ffffff;
    padding: 1px 60px;
    border-bottom: 2px solid #ccc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo img {
    width: 10px;
    height: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
   
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 6px;
    
}

.navbar ul li a:hover {
    background-color: #ddd;
}

.navbar ul li a.active {
    background-color: #e0e0e0;
}

.user-login {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-login.fas {
    font-size: 50px;
    color: #000;
}

.login-btn {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 1s;
}

.login-btn:hover {
    background-color: #333333ea;
}
.login-section {
    background-image: url("../images/vaccine14.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-right: 10px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #0a1868;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-login {
    margin-top: 20px;
}

.social-login button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.forgot-password {
    display: block;
    text-align: right;
    margin-top: 10px;
}

.create-account {
    margin-top: 30px;
}

.create-account p {
    margin-bottom: 10px;
}

footer {
    background-color: #f0f0f0;
    padding: 5px 0;
    border-top: 2px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
}

.footer-container div {
    flex: 1;
    margin: 10px 5px;
}

.logo img {
    width: 100px;
    height: auto;
}

.links ul {
    list-style: none;
}

.links ul li {
    margin: 5px 0;
}

.links ul li a {
    text-decoration: none;
    color: #007BFF;
}

.links ul li a:hover {
    text-decoration: underline;
}

.contact p, .media p {
    margin: 10px 0;
}

.media .social-icons {
    display: flex;
    gap: 10px;
}

.media .social-icons a {
    color: #000000;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 5px;
    text-decoration: none;
}

.media .social-icons a:hover {
    color: #666060;
}

.copyright {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}

.copyright a {
    text-decoration: none;
    color: #007BFF;
}
.about-us-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}



