* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    /* font-family: Arial, sans-serif; */
    background-image: url("../images/backvaccine.jpeg");
    background-repeat:no-repeat;
    background-size :cover;
    margin: 0;
    padding: 0;
    position: relative;
    

} 



h1 {
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
}

table {
    width: 90%;
    margin-left: 40px;
    border-collapse: collapse;
    background-color: #ff0000;
    border: 3px solid #ddd;
    margin-bottom: 20px;
}

th, td {
    padding: 16px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #28abc2;
    font-size: 20px;
    font-weight: bold;
}

td {
    background-color: #f9f9f9;
    font-family:Arial, Helvetica, sans-serif;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="file"] {
    border: 1px solid #ccc;
    padding: 5px;
    width: 60%;
    background-color: #ebebeb;
}

.edit-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-btn:hover {
    background-color: #342d2d;
}

.upload-btn {
    
    border: none;
    color: rgb(0, 0, 0);
    background-color: #f9f9f9;
    padding: 8px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: #ececec;
    
}


.delete-btn {
    background-color: #f9f9f9;
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px;
    margin-left: 0px;
    font-size: 20px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ececec;
    
}

.add-btn {
    text-decoration: none;
    background-color: #050505;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 1125px;
    margin-top: 20px;
    gap: 6px;
}

.add-btn:hover {
    background-color: #342d2d;
}


