.title.box {
    background-color: #f0f8ff; /* Light blue background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.title.box:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

.topic {
   
    font-size: 30px;
    font-weight: bolder;
    color: #2c0c9e; /* Dark grey text color */
    margin: 0;
}


table {
    width: 80%;
    margin: 100px auto; /* Center the table */
    border-collapse: collapse;
   
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

table, th, td {
    border: 1px solid #ccc; /* Light border for table elements */
}

th, td {
    padding: 15px;
    text-align: center; /* Center-align content */
}

th {
    background-color: #007bff; /* Blue background for header */
    color: #fff; /* White text color for header */
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background for even rows */
}

tr:hover {
    background-color: #e6f7ff; /* Lighter blue for hovered row */
}
