/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #7feef6;
}

.container {
    display: flex;
    justify-content: space-between; /* To position form and image side by side */
    align-items: center;
    width: 500px; /* Adjust based on the content */
    background-color: #ffffff;
    padding: 10px;
    margin-left: 500px;
    margin-top: 100px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}


.form-container {
    flex: 1;
    margin-left: 20px;
    padding: 50px;
    width:50%;
    
    
   
    
}

h2 {
    background-color: #1c63b8;
    color: white;
    text-align: center;
    width:100%;
    padding: 10px 0;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}


