/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images/backvaccine.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header Styles */
header {
    background-color: #ffffff;
    padding: 10px 60px;
    border-bottom: 2px solid #ccc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 6px;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    background-color: #e0e0e0;
}

.user-login {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-login .fas {
    font-size: 25px;
    color: #000;
}

.login-btn {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #333333ea;
}

/* Main Container Styles */
.container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    color: #333;
}

.button-container {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    border-top: 2px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-container div {
    flex: 1;
    margin: 10px;
}

.footer-container .logo img {
    width: 100px;
}

.links ul {
    list-style: none;
}

.links ul li {
    margin: 5px 0;
}

.links ul li a {
    text-decoration: none;
    color: #007BFF;
}

.links ul li a:hover {
    text-decoration: underline;
}

.media .social-icons {
    display: flex;
    gap: 10px;
}

.media .social-icons a {
    color: #000;
    font-size: 25px;
    text-decoration: none;
}

.media .social-icons a:hover {
    color: #666060;
}

.copyright {
    text-align: center;
    margin-top: 10px;
}
