body{
    
    background-image: url("../images/backvaccine.jpeg");
    margin: 0;
    padding: 0;
    position: relative;
}





.formcontainer {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.formcontainer form {
    display: flex;
    flex-direction: column;
}

.formcontainer div {
    margin-bottom: 15px;
} 

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit{
    width:100%;
    padding: 10px;
    font-size: 16px;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
   
}

.submit:hover {
    background-color: #98dcf5;
}



