/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../images/backvaccine.jpeg");
}


.container {
    display: flex;
    justify-content: space-between; /* To position form and image side by side */
    align-items: center;
    width: 900px; /* Adjust based on the content */
    background-color: #ffffff;
    padding: 30px;
    margin-left: 300px;
    margin-top: 100px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.form-container {
    flex: 1;
    margin-left: 20px;
}

h2 {
    background-color: #1c63b8;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    font-family: Arial, sans-serif;
    height: 100px;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}



