*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



 body {
   
    background-image: url("../images/backvaccine.jpeg");
    background-repeat:no-repeat;
    background-size :cover;
    margin: 0;
    padding: 0;
    position: relative;
    

} 




.appointment-form {
    width: 50%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.appointment-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.appointment-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.appointment-form input, 
.appointment-form select, 
.appointment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.appointment-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #09196c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


